<h2>ngSwitch</h2>

<p [ngSwitch]="userRole">
  <span *ngSwitchCase="userRoleEnum.ADMIN">text for only admin roles</span>
  <span *ngSwitchCase="userRoleEnum.SUPPORT">text for only support roles</span>
  <span *ngSwitchCase="userRoleEnum.USER">text for only user roles</span>
  <span *ngSwitchDefault> the role is not defined </span>
</p>

<button (click)="userRole = userRoleEnum.ADMIN">Set Admin</button>
<button (click)="userRole = userRoleEnum.SUPPORT">Set Support</button>
<button (click)="userRole = userRoleEnum.USER">Set User</button>
<button (click)="userRole = undefined">Set Unknown</button>
