<h2>ngTemplateOutlet</h2>

<select
  *ngIf="items.length; else emptyRef"
  name="select"
  id="select"
  class="select"
>
  <ng-container
    *ngFor="let item of items"
    [ngTemplateOutlet]="templateRef || templateOptionsRef"
    [ngTemplateOutletContext]="{$implicit: item, someKey: 'someValue'}"
  ></ng-container>

</select>

<ng-template #emptyRef> no items for select </ng-template>

<ng-template #templateOptionsRef
             let-someItem
             let-someKey="someKey"
>
  <option>{{ someItem }} {{someKey}}</option>
</ng-template>





<!-- <ng-container
    *ngFor="let item of items"
    [ngTemplateOutlet]="template || optionDefaultRef"
    [ngTemplateOutletContext]="{ $implicit: item }"
  ></ng-container> -->

<!-- <ng-template #optionDefaultRef let-item>
  <option>
    {{ item }}
  </option>
</ng-template> -->
